{% extends "network/layout.html" %}

{% block body %}
<head>
    <title>Asset</title>  
</head>
<body>
<div class="row">
    <centre><h1>Asset</h1></centre>
    <div class="Asset">
        <p>assetSymbol</p>
        <p>price</p>
        <p>timestamp</p>
    </centre>
    <br />
</div>
<br>
<div class="row">
    <centre><h1>Asset History</h1></centre><br />
      <div class="container">
  <div class="newrow">
    <div class="col-sm-6" style="background-color:#DCC7AA;">
        <div class="AssetHistory">
            <p>assetSymbol</p>
            <p>price</p>
            <p>timestamp</p>
            </div></div>
    </div>
  </div>
</div>  


</div>
</body>

{% endblock %}