{% extends "network/layout.html" %}

{% block body %}
<head>
    <title>Asset</title>
</head>
<div class="card mb-3 text-center mx-auto" style="max-width: 70%;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
            <p class="card-text"> Asset Symbol: {{ assets.assetSymbol}} </p>
            <p class="card-text"> Time Stamp: {{ assets.timestamp }}</p>
            <p class="card-text"> Asset Price: {{ assets.price }}</p>
        </div>

      </div>
    </div>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Time Stamp</th>
        <th scope="col">Asset Symbol</th>
        <th scope="col">Asset Price</th>
    </thead>
    <tbody>
        {% for historical in historicals %}
      <tr>
        <th scope="row"> {{ historical.timestamp }}</th>
        <td>{{ historical.assetSymbol }}</td>
        <td>{{ historical.price }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>


</div>
</body>

{% endblock %}
