{% extends "network/layout.html" %}
{% load static %}

{% block body %}

<div class="create_form">

    <div class="card mb-3 text-center mx-auto" style="max-width: 70%;">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title" id="asset_name"> Asset you want to purchase: {{assetName}} </h5>
                <p class="card-text"> Price: {{lastPrice}}</p>
            </div>

            <form method="post" enctype="multipart/form-data" class="create_form"> 
                {% csrf_token %}
                <label for="formFileSm" class="form-label">Purchase asset:</label><br>
                <input class="form-control-sm" id="formFileSm" type="text" placeholder="Enter amount of assets you want to purchase" />
                <input class="btn btn-secondary btn-sm" id="buysell" type="submit" value="Confirm Purchase">
            </form>
            
          </div>
        </div>
      </div>

</div>

<script src="{% static 'network/buysell.js' %}"></script>

{% endblock %}