
{% extends "network/layout.html" %}

{% block body %}

<head>
    <title>Welcome to PAWsome Boarding</title>  
    <link rel="stylesheet" type="text/css" href="/css/login-ed.css">
</head>
<!-- input display name, gender, email, country, address, birthday -->
<body>
 <link rel="stylesheet" type="text/css" href="/css/highest-bidder-profile.css">
<br />
<div class="col-md-8">
    <div class="card-body">
        <h5 class="card-title" id="username">{{ user.username }}</h5>
        <p class="card-text"> Some user info</p>
        <p class="card-text"> Some user info</p>
        <p class="card-text"> Some user info</p>
        <p class="card-text"> Some user info</p>
    </div>
    
</div>
<br>
<div class="row">
    ><h1>Wallet Balance</h1><br />
    <!-- split -->
      <div class="container">
  <div class="newrow">
    <div class="col-sm-6" style="background-color:#DCC7AA;">
        <div class="combine"><div class="assetbalance"></div>
        <div class="assetinfo">
            <p>value:</p>
            </div></div>
    </div>
    <div class="col-sm-6" style="background-color:#DCC7AA;">
      <div class="combine"><div class="cashbalance"></div>
        <div class="casginfo">
            <p>Value:</p>
            </div></div>
    </div>
  </div>
</div>  

    <!--may auto-add when got multiple pets -->
</div>
</body>


{% endblock %}
