{% extends "network/layout.html" %}

{% block body %}
<head>
    <title>View transaction</title>  
</head>
<body>

<h1>History</h1><br />

<table class="table">
    <thead>
      <tr>
        <th scope="col">Transaction ID</th>
        <th scope="col">Order Type</th>
        <th scope="col">Time Stamp</th>
        <th scope="col">Asset Symbol</th>
        <th scope="col">Asset Amount</th>
        <th scope="col">Asset Price</th>
        <th scope="col">Cash Amount</th>
    </thead>
    <tbody>
        {% for asset in assets %}
      <tr>
        <th scope="row">{{ asset.transactionId }}</th>
        <td>{{ asset.orderType }}</td>
        <td>{{ asset.timestamp }}</td>
        <td>{{ asset.assetSymbol }}</td>
        <td>{{ asset.assetAmount }}</td>
        <td>{{ asset.assetPrice }}</td>
        <td>{{ asset.cashAmount }}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>

{% endblock %}


</div>  
